* {
  -webkit-text-size-adjust: 100%; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

body {
  background-color: #e0ffff; }

@media screen and (max-width: 640px) {
  .top--sp {
    padding: 0 2vw;
    background-color: white; } }

.logo {
  width: 52px;
  height: 52px; }
  .logo__image {
    max-width: 100%; }

.hidden-pc {
  display: none; }
  @media screen and (max-width: 640px) {
    .hidden-pc {
      display: inherit; } }

@media screen and (max-width: 640px) {
  .hidden-sp {
    display: none; } }

.topHeader {
  height: 90px;
  z-index: 1; }
  @media screen and (max-width: 640px) {
    .topHeader {
      height: 52px; } }
  .topHeader__logo {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding-left: 60px;
    padding-top: 16px;
    padding-bottom: 16px; }
    @media screen and (max-width: 640px) {
      .topHeader__logo {
        padding-left: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: white; } }
    .topHeader__logo__image {
      max-height: 100%; }
  .topHeader__hamburger__menu {
    display: none;
    position: fixed;
    right: 2vw;
    left: 2vw;
    z-index: 1001;
    background-color: #0e1f3c;
    color: #e0ffff; }
    @media screen and (max-width: 640px) {
      .topHeader__hamburger__menu {
        top: 54px; } }
    .topHeader__hamburger__menu .gnavs__item {
      height: 40px;
      border-bottom: 1px solid gray;
      padding: 2vh 10vw;
      line-height: 40px; }

.hamburger {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 2vw;
  width: 90px;
  height: 90px;
  cursor: pointer; }
  @media screen and (max-width: 640px) {
    .hamburger {
      width: 52px;
      height: 52px; } }
  .hamburger__line {
    position: absolute;
    width: 45px;
    height: 5px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #000; }
    @media screen and (max-width: 640px) {
      .hamburger__line {
        width: 26px;
        height: 3px; } }
    .hamburger__line--top {
      top: 22px; }
      @media screen and (max-width: 640px) {
        .hamburger__line--top {
          top: 16px; } }
    .hamburger__line--mid {
      top: 38px; }
      @media screen and (max-width: 640px) {
        .hamburger__line--mid {
          top: 26px; } }
    .hamburger__line--bot {
      top: 54px; }
      @media screen and (max-width: 640px) {
        .hamburger__line--bot {
          top: 36px; } }
  .hamburger--close {
    display: none; }
    .hamburger--close__icon {
      font-size: 4.5rem;
      position: relative; }
      @media screen and (max-width: 640px) {
        .hamburger--close__icon {
          font-size: 2.5rem; } }
      .hamburger--close__icon__image {
        position: absolute;
        top: 3px;
        left: 18px; }
        @media screen and (max-width: 640px) {
          .hamburger--close__icon__image {
            top: 6px;
            left: 12px; } }

.topCover {
  position: relative;
  margin-bottom: 30px; }
  .topCover__eyecatch {
    z-index: 1;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    margin: auto; }
    @media screen and (max-width: 640px) {
      .topCover__eyecatch {
        top: 45px; } }
    .topCover__eyecatch__title {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      font-size: 5vw; }
      @media screen and (max-width: 640px) {
        .topCover__eyecatch__title {
          font-size: 7vw; } }
  @media screen and (max-width: 640px) {
    .topCover__image-list {
      padding-top: 140px;
      margin-bottom: 50px; } }

.topCover-image {
  position: relative;
  float: left;
  width: 33.33333333%;
  height: 100vh; }
  @media screen and (max-width: 640px) {
    .topCover-image {
      clear: both;
      width: 100%;
      height: 50vw; } }
  .topCover-image--left {
    background-image: url("../img/top/cover/left.png"); }
  .topCover-image--center {
    background-image: url("../img/top/cover/center.png"); }
  .topCover-image--right {
    background-image: url("../img/top/cover/right.png"); }
  .topCover-image__filter--left {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e0ffff; }
  .topCover-image__outer-circle {
    background-color: #838383;
    width: 70%;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 70%;
    border-radius: 100%; }
    @media screen and (max-width: 640px) {
      .topCover-image__outer-circle {
        width: 45%;
        padding-top: 45%; } }
    .topCover-image__outer-circle--left {
      top: 180px; }
      @media screen and (max-width: 640px) {
        .topCover-image__outer-circle--left {
          top: 5%; } }
    .topCover-image__outer-circle--center {
      top: 330px; }
      @media screen and (max-width: 640px) {
        .topCover-image__outer-circle--center {
          top: 5%; } }
    .topCover-image__outer-circle--right {
      top: 210px; }
      @media screen and (max-width: 640px) {
        .topCover-image__outer-circle--right {
          top: 5%; } }
    .topCover-image__outer-circle__inner-circle {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 57%;
      height: 57%;
      text-align: center;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      background-color: #e0ffff;
      border-radius: 100%;
      font-size: 1vw; }
      @media screen and (max-width: 640px) {
        .topCover-image__outer-circle__inner-circle {
          font-size: 3vw; } }

.topSection {
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  /*&__vertical-line {
    position: absolute;
    width: 2px;
    height: 50px;
    border-left: 2px solid #ffcc99;
  }*/ }
  @media screen and (max-width: 640px) {
    .topSection {
      padding-left: 0;
      padding-right: 0;
      padding-top: 10vh; } }
  .topSection__title {
    display: -webkit-flex;
    display: flex; }
    @media screen and (max-width: 640px) {
      .topSection__title {
        padding-left: 24px;
        position: relative; } }
    .topSection__title__inner {
      -webkit-align-items: stretch;
      align-items: stretch;
      font-size: 28px;
      margin-right: 7px; }
    .topSection__title__horizontal-line {
      -webkit-flex: 1;
      flex: 1;
      border-top: 1px solid #000; }
  @media screen and (max-width: 640px) {
    .topSection .sp__horizontal-line--none {
      flex: initial;
      border-top: none;
      text-align: right;
      position: absolute;
      right: 2vw;
      margin-top: 0 !important;
      padding-top: 1.5vh; }
    .topSection__under-text {
      padding-left: 24px;
      font-size: 0.7em;
      margin-top: -5px; } }
  .topSection__content {
    border-left: 1px solid #000;
    margin-left: 8px;
    margin-right: 8px; }
    @media screen and (max-width: 640px) {
      .topSection__content {
        border-left: none;
        margin-left: 0;
        margin-right: 0; } }

.topProject {
  padding-left: 68px; }
  @media screen and (max-width: 640px) {
    .topProject {
      padding-left: 0;
      padding-top: 10px; } }
  .topProject__photo {
    float: left;
    margin-left: -101px;
    margin-top: 40px;
    width: calc(50% - -101px); }
    @media screen and (max-width: 640px) {
      .topProject__photo {
        margin-left: 0;
        margin-top: 0;
        border: 1px solid black;
        width: 20vw;
        height: 60vh; } }
    .topProject__photo--right {
      float: right; }
    .topProject__photo__image {
      width: 100%;
      height: auto; }
  .topProject__desc {
    float: left;
    width: 50%; }
    @media screen and (max-width: 640px) {
      .topProject__desc {
        width: 65vw;
        padding-left: 8vw; } }
    .topProject__desc--left {
      float: left; }
    .topProject__desc__title--odd {
      margin-left: -15vw;
      margin-top: -2vh; }
      @media screen and (max-width: 640px) {
        .topProject__desc__title--odd {
          margin-left: 0;
          margin-top: 0; } }
    .topProject__desc__title--even {
      text-align: right; }
      @media screen and (max-width: 640px) {
        .topProject__desc__title--even {
          text-align: left; } }
    .topProject__desc__text {
      margin-left: -7vw;
      margin-top: -3vh; }
      @media screen and (max-width: 640px) {
        .topProject__desc__text {
          margin-left: 0;
          margin-top: 0; } }
    .topProject__desc--numberBigBlue {
      font-size: 12vw;
      color: #6671ab;
      display: inline-block;
      width: 6vw; }
      @media screen and (max-width: 640px) {
        .topProject__desc--numberBigBlue {
          font-size: 14vw;
          color: #6671ab;
          width: inherit; } }
    .topProject__desc--eyecatch-size {
      font-size: 3vw;
      display: inline-block;
      margin-left: 1vw; }
      @media screen and (max-width: 640px) {
        .topProject__desc--eyecatch-size {
          margin-left: 0; } }
  .topProject__left {
    margin-left: -101px;
    margin-top: 40px;
    float: left;
    width: calc(50% - -101px); }
    @media screen and (max-width: 640px) {
      .topProject__left {
        margin-left: 0;
        border: 1px solid black;
        width: 20vw;
        height: 60vh;
        margin-top: 0; } }
    .topProject__left__image {
      width: 100%;
      height: auto; }
  .topProject__right {
    float: right;
    width: 50%; }
    @media screen and (max-width: 640px) {
      .topProject__right {
        transform: none;
        float: left;
        width: 65vw;
        padding-left: 8vw; } }
    .topProject__right__number {
      transform: skewX(-30deg); }
  .topProject--reversed__left {
    float: left;
    width: 50%; }
    @media screen and (max-width: 640px) {
      .topProject--reversed__left {
        float: right;
        width: 65vw;
        margin-right: 3vw; } }
  .topProject--reversed__right {
    margin-left: -101px;
    margin-top: 40px;
    float: left;
    width: calc(50% - -101px); }
    @media screen and (max-width: 640px) {
      .topProject--reversed__right {
        margin-left: 0;
        margin-top: 0;
        float: none;
        width: 20vw;
        height: 60vh;
        border: 1px solid black; } }
    .topProject--reversed__right__image {
      width: 100%;
      height: auto; }

.topProject__text__item {
  display: inline-block;
  width: 50vw;
  margin-top: 0.8vh;
  font-size: 1.5vw; }
  @media screen and (max-width: 640px) {
    .topProject__text__item {
      width: inherit;
      margin-top: 0;
      font-size: inherit; } }

.indent--xxs {
  padding-left: 0.5vw; }
  @media screen and (max-width: 640px) {
    .indent--xxs {
      padding-left: 0; } }

.indent--xs {
  padding-left: 1.5vw; }
  @media screen and (max-width: 640px) {
    .indent--xs {
      padding-left: 0; } }

.indent--sm {
  padding-left: 3vw; }
  @media screen and (max-width: 640px) {
    .indent--sm {
      padding-left: 0; } }

.indent--md {
  padding-left: 4.2vw; }
  @media screen and (max-width: 640px) {
    .indent--md {
      padding-left: 0; } }

.indent--lg {
  padding-left: 6.3vw; }
  @media screen and (max-width: 640px) {
    .indent--lg {
      padding-left: 0; } }

.indent--xlg {
  padding-left: 7.8vw; }
  @media screen and (max-width: 640px) {
    .indent--xlg {
      padding-left: 0; } }

.topNews {
  padding: 25px 50px 60px 45px; }
  @media screen and (max-width: 640px) {
    .topNews {
      padding: 25px 0 0 0; } }
  .topNews__left-border--hover {
    display: inline-block;
    visibility: hidden;
    vertical-align: top;
    width: 4px;
    height: 45px;
    background-color: #73b4d2;
    margin-right: -5px; }
    @media screen and (max-width: 640px) {
      .topNews__left-border--hover {
        display: none; } }
  .topNews__article {
    display: inline-block;
    vertical-align: top;
    width: 95%;
    align-items: center;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #f0f0f0;
    border-bottom: 2px solid #e0ffff; }
    @media screen and (max-width: 640px) {
      .topNews__article {
        border-bottom: none;
        border-top: 1px solid gray;
        height: 10vh;
        line-height: 10vh;
        background-color: white; } }
    .topNews__article__date {
      float: left;
      font-size: 11px;
      margin-left: 34px; }
    .topNews__article__title {
      float: left;
      font-size: 14px;
      margin-left: 22px; }
  .topNews__all-news {
    float: right;
    font-size: 12px;
    border-bottom: 2px solid #0e1f3c;
    margin-top: 10px; }
    .topNews__all-news__link {
      color: #000 !important;
      text-decoration: none !important; }
  @media screen and (max-width: 640px) {
    .topNews__all-news--sp {
      font-size: 12px;
      border: 2px solid #0e1f3c;
      padding: 1.5vh 4vw;
      background-color: #0e1f3c; }
    .topNews__all-news__link--sp {
      color: white !important;
      text-decoration: none !important; }
    .topNews__all-news__link--sp {
      color: white !important;
      text-decoration: none !important; } }

.topPeople {
  padding: 25px 100px 60px 100px; }
  @media screen and (max-width: 640px) {
    .topPeople {
      padding: 25px 0 30px 0; } }
  .topPeople__person {
    float: left;
    width: 50%;
    position: relative; }
    @media screen and (max-width: 640px) {
      .topPeople__person {
        clear: both;
        width: 100%; } }
    .topPeople__person__slogan {
      position: absolute;
      top: 20px;
      left: 30px;
      z-index: 10; }
    .topPeople__person__name {
      position: absolute;
      top: 80px;
      left: 30px;
      z-index: 20; }
    .topPeople__person__image {
      height: auto;
      max-width: 100%;
      z-index: 1; }
      @media screen and (max-width: 640px) {
        .topPeople__person__image {
          width: 100%;
          max-height: 40vh;
          margin-top: 0.5vh; } }

.scroll-to-top {
  width: 100%;
  text-align: center;
  padding-bottom: 10px; }
  .scroll-to-top__inner {
    color: #000 !important;
    font-size: 12px; }

.footer {
  background-color: #0e1f3c;
  color: #e0ffff;
  height: 100px;
  padding: 30px; }
  @media screen and (max-width: 640px) {
    .footer {
      height: 60px; } }
  .footer--left {
    display: inline-block;
    width: 45%;
    height: 100%;
    border-right: 1px solid gray;
    vertical-align: top; }
    @media screen and (max-width: 640px) {
      .footer--left {
        border: none;
        width: 100%; } }
  .footer__logo {
    text-align: right;
    padding-right: 60px;
    margin-top: 25px; }
    @media screen and (max-width: 640px) {
      .footer__logo {
        text-align: center;
        margin-top: 15px;
        padding-right: 0; } }
    .footer__logo__image {
      height: 25px; }
  .footer--right {
    display: inline-block;
    vertical-align: top;
    width: 45%; }
    @media screen and (max-width: 640px) {
      .footer--right {
        display: none; } }
  .footer__copyright {
    font-size: 0.4rem;
    opacity: 0.5; }
  .footer__gnavs--left {
    display: inline-block;
    vertical-align: top;
    font-size: 0.3rem;
    padding-left: 30px;
    margin-right: 40px; }
  .footer__gnavs--right {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    font-size: 0.3rem; }
  .footer__gnavs__item {
    padding: 0.2rem; }
