.aboutSection {
  border: 1px solid gray;
  margin: 2vw; // temp
  padding: 5vw 10vw;
  &__title {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    font-size: 1.5vw;
  }
  &__content {
    display: inline-block;
    width: 80%;
    border: 1px solid black;
    padding-left: 5vw;
    padding-top: 0.5vw;
  }
  &__item {
    font-size: 1.2vw;
    padding-bottom: 0.5vw;
  }
}
