* {
  -webkit-text-size-adjust: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// degub
body {
  background-color: $main-theme-color;
}

.logo {
  width: 52px;
  height: 52px;
  &__image {
    max-width: 100%;
  }
}
