* {
  -webkit-text-size-adjust: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

// degub
body {
  background-color: $main-theme-color;
}

.top--sp {
  @include media-query(mobile) {
    padding: 0 2vw;
    background-color: white;
  }
}

.logo {
  width: 52px;
  height: 52px;
  &__image {
    max-width: 100%;
  }
}

.hidden-pc {
  @media screen and (min-width: 640px) {
    display: none;
  }
}

.hidden-sp {
  @media screen and (max-width: 640px) {
    display: none;
  }
}
