.contactNav {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20vw; // 仮
  &__title {
    background-color: $sub-theme-color;
    height: 10vw;
    width: 100%;
  }
  &__main-title {
    color: white;
    text-align: center;
    padding-top: 2vw;
    font-size: 3vw;
  }
  &__sub-title {
    color: white;
    text-align: center;
    font-size: 1.5vw;
  }
  &__item {
    border: 1px solid gray;
    height: 20vw;
    width: 100%;
    &__inner {

    }
  }
}

.contactNav__inner {
  width: 65%;
  margin: 0 auto;
  &__title {
    font-size: 2vw;
    font-weight: bold;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
  }
  &__tel {
    margin-bottom: 0.5vw;
  }
  &__fax {
    margin-bottom: 0.5vw;
  }
  &__link {

  }
}
