.topHeader {
  height: 90px;
  z-index: 1;
  @include media-query(mobile) {
    height: 52px;
  }
  &__logo {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding-left: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    @include media-query(mobile) {
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: white;
    }
    &__image {
      max-height: 100%;
    }
  }
  &__hamburger {
  }
  &__hamburger__menu {
    display: none;
    position: fixed;
    right: 2vw;
    left: 2vw;
    z-index: 1001;
    @include media-query (mobile) {
      top: 54px;
    }
    background-color: $sub-theme-color;
    color: $main-theme-color;
    .gnavs {
      &__item {
        height: 40px;

        border-bottom: 1px solid gray;
        padding: 2vh 10vw;
        line-height: 40px;
      }
    }
  }
}

.hamburger {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 2vw;
  width: 90px;
  height: 90px;
  cursor: pointer;
  @include media-query (mobile) {
    width: 52px;
    height: 52px;
  }
  &__line {
    position: absolute;
    width: 45px;
    height: 5px;
    @include media-query (mobile) {
      width: 26px;
      height: 3px;
    }
    right: 0;
    left: 0;
    margin: auto;
    background-color: $black;
    &--top {
      top: 22px;
      @include media-query (mobile) {
        top: 16px;
      }
    }
    &--mid {
      top: 38px;
      @include media-query (mobile) {
        top: 26px;
      }
    }
    &--bot {
      top: 54px;
      @include media-query (mobile) {
        top: 36px;
      }
    }
  }
  &--close {
    display: none;
    &__icon {
      font-size: 4.5rem;
      position: relative;
      @include media-query (mobile) {
        font-size: 2.5rem;
      }
      &__image {
        position: absolute;
        top: 3px;
        left: 18px;
        @include media-query (mobile) {
          top: 6px;
          left: 12px;
        }
      }
    }
  }
}

.topCover {
  position: relative;
  margin-bottom: 30px;
  &__eyecatch {
    z-index: 1;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    margin: auto;
    @include media-query(mobile) {
      top: 45px;
    }
    &__title {
      @include horizontal-align-center-inner;
      font-size: 5vw;
      @include media-query(mobile) {
        font-size: 7vw;
      }
    }
  }
  &__image-list {
    @include media-query (mobile) {
      padding-top: 140px;
      margin-bottom: 50px;
    }
  }
}

.topCover-image {
  position: relative;
  float: left;
  width: 33.33333333%;
  height: 100vh;//IE11~
  @include media-query (mobile) {
    clear: both;
    width: 100%;
    height: 50vw;
  }
  &--left {
    background-image: url("../img/top/cover/left.png");
  }
  &--center {
    background-image: url("../img/top/cover/center.png");
  }
  &--right {
    background-image: url("../img/top/cover/right.png");
  }
  &__filter {
    &--left {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $main-theme-color;
    }
    &--center {

    }
    &--right {

    }
  }
  &__outer-circle {
    background-color: #838383; //debug
    width: 70%;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 70%;
    border-radius: 100%;
    @include media-query (mobile) {
      width: 45%;
      padding-top: 45%;
    }
    &--left {
      top: 180px;
      @include media-query (mobile) {
        top: 5%;
      }
    }
    &--center {
      top: 330px;
      @include media-query (mobile) {
        top: 5%;
      }
    }
    &--right {
      top: 210px;
      @include media-query (mobile) {
        top: 5%;
      }
    }
    &__inner-circle {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 57%;
      height: 57%;
      text-align: center;
      @include vertical-align-center-inner;
      @include horizontal-align-center-inner;
      background-color: $main-theme-color;
      border-radius: 100%;
      font-size: 1vw;
      @include media-query(mobile) {
          font-size: 3vw;
      }
    }
  }
}

.topSection {
  padding-left: $top-section-padding;
  padding-right: $top-section-padding;
  position: relative;
  @include media-query(mobile) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10vh;
  }
  &__title {
    display: -webkit-flex;
    display: flex;
    @include media-query(mobile) {
      padding-left: $top-section-padding;
      position: relative;
    }
    &__inner {
      -webkit-align-items: stretch;
      align-items: stretch;
      font-size: 28px;
      margin-right: 7px;
    }
    &__horizontal-line {
      -webkit-flex: 1;
      flex: 1;
      border-top: 1px solid #000;
    }
  }
@include media-query(mobile) {
  .sp__horizontal-line--none {
    flex: initial;
    border-top: none;
    text-align: right;
    position: absolute;
    right: 2vw;
    margin-top: 0 !important;
    padding-top: 1.5vh;
  }
  &__under-text {
    padding-left: $top-section-padding;
    font-size: 0.7em;
    margin-top: -5px;
  }
}
  /*&__vertical-line {
    position: absolute;
    width: 2px;
    height: 50px;
    border-left: 2px solid #ffcc99;
  }*/
  &__content {
    border-left: 1px solid #000; // 縦の線
    margin-left: $top-section-content-margin;
    margin-right: $top-section-content-margin;
    @include media-query(mobile) {
      border-left: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.topProject {
  padding-left: $top-project-padding;
  @include media-query(mobile) {
    padding-left: 0;
    padding-top: 10px;
  }
  &__photo {
    float: left;
    margin-left: $top-project-negative-margin;
    margin-top: 40px;
    width: calc(50% - #{$top-project-negative-margin});
    @include media-query(mobile) {
      margin-left: 0;
      margin-top: 0;
      border: 1px solid black;
      width: 20vw;
      height: 60vh;
    }
    &--right {
      float: right;
    }
    &__image {
      width: 100%;
      height: auto;
    }
  }
  &__desc {
    float: left;
    width: 50%;
    @include media-query(mobile) {
      width: 65vw;
      padding-left: 8vw;
    }
    &--left {
      float: left;
    }
    &__title {
    }
    &__text {
    }
    &--number-size {
      font-size: 12vw;
    }
    &--eyecatch-size {
      font-size: 5vw;
    }
  }
  &__left {
    margin-left: $top-project-negative-margin;
    margin-top: 40px;
    float: left;
    width: calc(50% - #{$top-project-negative-margin});
    @include media-query(mobile) {
      margin-left: 0;
      border: 1px solid black;
      width: 20vw;
      height: 60vh;
      margin-top: 0;
    }
    &__image {
      width: 100%;
      height: auto;
    }
  }
  &__right {
    float: right;
    width: 50%;
    transform: skewX(30deg);
    @include media-query(mobile) {
      transform: none;
      float: left;
      width: 65vw;
      padding-left: 8vw;
    }
    &__number {
      transform: skewX(- 30deg);
    }
    &__title {

    }
    &__desc {

      &__inner {
        //display: inline-block;
        //transform: skewX(- 30deg);
      }
    }
  }
  &--reversed {
    &__left {
      float: left;
      width: 50%;
      @include media-query(mobile) {
        float: right;
        width: 65vw;
        margin-right: 3vw; // 暫定
      }
      &__number {

      }
      &__title {

      }
      &__desc {

      }
    }
    &__right {
      margin-left: $top-project-negative-margin;
      margin-top: 40px;
      float: left;
      width: calc(50% - #{$top-project-negative-margin});
      @include media-query(mobile) {
        margin-left: 0;
        margin-top: 0;
        float: none;
        width: 20vw;
        height: 60vh;
        border: 1px solid black;
      }
      &__image {
        width: 100%;
        height: auto;
      }
    }
  }
}

.topNews {
  padding: 25px 50px 60px 45px;
  @include media-query(mobile) {
    padding: 25px 0 0 0;
  }
  &__article {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 45px;
    text-align: center;
    background-color: $top-news-color;
    border-bottom: 2px solid $main-theme-color;
    @include media-query(mobile) {
      border-bottom: none;
      border-top: 1px solid gray;
      height: 10vh;
      background-color: white;
    }
    &:hover {
      border-left: 4px solid #73b4d2;
    }
    &__date {
      float: left;
      font-size: 11px;
      margin-left: 34px;
    }
    &__title {
      float: left;
      font-size: 14px;
      margin-left: 22px;
    }
  }
  &__all-news {
    float: right;
    font-size: 12px;
    border-bottom: 2px solid $sub-theme-color;
    margin-top: 10px;
    &__link {
      color: $black !important;
      text-decoration: none !important;
    }
  }
  @include media-query(mobile) {
    &__all-news--sp {
      font-size: 12px;
      border: 2px solid $sub-theme-color;
      padding: 1.5vh 4vw;
      background-color: $sub-theme-color;
    }
    &__all-news__link--sp {
      color: white !important;
      text-decoration: none !important;
    }
    &__all-news__link--sp {
      color: white !important;
      text-decoration: none !important;
    }
  }
}

.topPeople {
  padding: 25px 100px 60px 100px;
  @include media-query(mobile) {
    padding: 25px 0 30px 0;
  }
  &__person {
    float: left;
    width: 50%;
    position: relative;
    @include media-query(mobile) {
      clear: both;
      width: 100%;
    }
    &__slogan {
      position: absolute;
      top: 20px;
      left: 30px;
      z-index: 10;
    }
    &__name {
      position: absolute;
      top: 80px;
      left: 30px;
      z-index: 20;
    }
    &__image {
      height: auto;
      max-width: 100%;
      z-index: 1;
      @include media-query(mobile) {
        width: 100%;
        max-height: 40vh;
        margin-top: 0.5vh;
      }
    }
  }
}

.scroll-to-top {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  &__inner {
    color: $black !important;
    font-size: 12px;
  }
}

.footer {
  background-color: $sub-theme-color;
  color: $main-theme-color;
  height: 100px;
  padding: 30px;
  @include media-query(mobile) {
    height: 60px;
  }
  &--left {
    display: inline-block;
    width: 45%;
    height: 100%;
    border-right: 1px solid gray;
    vertical-align: top;
    @include media-query (mobile) {
      border: none;
      width: 100%;
    }
  }
  &__logo {
    text-align: right;
    padding-right: 60px;
    margin-top: 25px;
    @include media-query(mobile) {
      text-align: center;
      margin-top: 15px;
      padding-right: 0;
    }
    &__image {
      height: 25px;
    }
  }
  &--right {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    @include media-query(mobile) {
      display: none;
    }
  }
  &__copyright {
  font-size: 0.4rem;
  opacity: 0.5;
  }
  &__gnavs {
    &--left {
      display: inline-block;
      vertical-align: top;
      font-size: 0.3rem;
      padding-left: 30px;
      margin-right: 40px;
    }
    &--right {
      display: inline-block;
      vertical-align: top;
      width: 40%;
      font-size: 0.3rem;
    }
    &__item {
      padding: 0.2rem;
    }
  }
}
