.hamburger {
  border: 1px solid $black;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  width: 90px;
  height: 90px;
  cursor: pointer;
  @include media-query (mobile) {
    width: 52px;
    height: 52px;
  }

  &__line {
    position: absolute;
    width: 45px;
    height: 5px;
    @include media-query (mobile) {
      width: 26px;
      height: 3px;
    }
    right: 0;
    left: 0;
    margin: auto;
    background-color: $black;
    &--top {
      top: 16px;
    }
    &--mid {
      top: 26px;
    }
    &--bot {
      top: 36px;
    }
  }
}

.topCover {
  &__image-list{}
}

.topCover-image {
  float: left;
  width: 33.33333333%;
  height: 100vh;//IE11~
  border-radius: 100%;
  background-position: center 40px;
  @include media-query (mobile) {
    clear: both;
    width: 100%;
    height: 200px;
  }
  &--left {
    background-image: url("../img/top/cover/left.png");
  }
  &--center {
    background-image: url("../img/top/cover/center.png");
  }
  &--right {
    background-image: url("../img/top/cover/right.png");
  }
}

.topSection {
  margin-left: 12px;
  margin-top: 12px;
  &__title {
    &__inner {
      font-size: 24px;
    }
    &__line {
      &--h {

      }
      &--v {

      }
    }
  }

    &--NEWS{
      background: #F0FFFF;
      width: 100%;
      height: 320px;
      }
  &__topNews {
    padding-top: 5%;
    width: 100%;
    &__list{
      width: 83%;
      line-height: 1.5;
      margin: 5px;
      font-size: 50%;
      height: 40px;
      margin-left: 10%;
      background: #f1f8ff;
      transition: 0.1s;
      list-style-type: none;
      position: relative;
      overflow: hidden;
      &--jsbar{
        position: absolute;
        width: 5px;
        height: 0px;
        background-color: blue;
        //transition: all 180ms 0s ease-in;
        }
      &--link{
        &--date{
          left: 10%;
          top: 30%;
          position: absolute;
          text-decoration: underline #f1f8ff;
          }
          &--title{
            width: 100%;
            position: absolute;
            left: 3%;
            top: 30%;
            text-decoration: underline #f1f8ff;
            }
          }
          //&:hover>&--bar{
            //width: 5px;
            //height: 40px;
            //background-color: blue;
            //}
          }
      &--bottom{
        float: right;
        position: relative;
        right: 7%;
        font-size: 0.2rem;
        text-decoration: none;
        }

  }
}

.topProject {
  &__left {
    float: left;
    width: 50%;
    &__image {
      width: 100%;
      height: auto;
    }
  }
  &__right {
    float: right;
    width: 50%;
    &__number {

    }
    &__title {

    }
    &__desc {

    }
  }
  &--reversed {
    &__left {
      float: left;
      width: 50%;
      &__number {

      }
      &__title {

      }
      &__desc {

      }
    }
    &__right {
      float: right;
      width: 50%;
      &__image {
        width: 100%;
        height: auto;
      }
    }
  }
}
